.modal{ 'data-action' => 'turbo:frame-load->folder-modal#open turbo:submit-end->folder-modal#close turbo:submit-end->folder-modal#next', 'data-controller' => 'folder-modal', tabindex: '-1' }
  .modal-dialog
    .modal-content
      = turbo_frame_tag 'folder_modal'