.card.bg-primary.rounded-5.py-5.text-center{ style: 'width: 23rem;' }
  %h1.display-1.text-light{ class: icon, style: 'font-size: 90px;' }
  %h5.mx-auto.d-flex.d-inline-flex.text-white.fw-bold.mx-2.ps-5.pe-5.fs-3
    #{text}&nbsp;
