.row.justify-content-center.align-items-center.col-12.col-md-10.mx-auto{ style: 'min-height: 600px;' }
  .row#answers-grid{ class: answers.present? && answers.count < 4 ? 'row-cols-1' : 'row-cols-2' }
    - icons = %w[triangle square circle star pentagon heart]
    - (1..6).each do |count|
      - if (question.present? && answers[count - 1].present?) && (quiz_session.position % 1).zero?
        .col.mx-auto.my-2.d-block{ id: "answer#{count}-form" }
          = render 'player_answers/form', resource: PlayerAnswer.new, count:, player_session_id: player_session.id, answer: answers[count - 1], form_attributes: { url: player_answers_path }, icon: icons[count - 1]
      - else
        .col.mx-auto.my-2.d-none{ id: "answer#{count}-form" }
          = render 'player_answers/form', resource: PlayerAnswer.new, count:, player_session_id: player_session.id, answer: nil, form_attributes: { url: player_answers_path }, icon: icons[count - 1]
